<% if (!is_home() && (post.prev || post.next)) { %>

<nav id="article-nav">
  <div></div>
  <% if (post.prev){ %>
    <a href="<%- config.root %><%- post.prev.path %>" class="article-nav-link-wrap article-nav-newer">
      <strong class="article-nav-caption">Newer</strong>
      <div class="article-nav-title">
        <% if (post.prev.title){ %>
          <%= post.prev.title %>
        <% } else { %>
          (no title)
        <% } %>
      </div>
    </a>
  <% } %>

  <% if (post.next){ %>
    <a href="<%- config.root %><%- post.next.path %>" class="article-nav-link-wrap article-nav-older">
      <strong class="article-nav-caption">Older</strong>
      <div class="article-nav-title"><%= post.next.title %></div>
    </a>
  <% } %>

</nav>

<% } %>