<%- partial('_partial/head') %>

<body>
<header id="header" class="inner" hoot="default" hoot-rate="1">
    <%- partial('_partial/header') %>
</header>
<div id="content" class="inner">
    <div id="main-col" class="alignleft">
        <div id="wrapper"><%- body %></div>
    </div>
    <aside id="sidebar" class="alignright"><%- partial('_partial/sidebar') %></aside>
    <%- partial('topic-list') %>
    <div class="clearfix"></div>
</div>
<footer id="footer" class="inner"><%- partial('_partial/footer') %></footer>
<%- partial('_partial/go2top') %>
<%- partial('_partial/after-footer') %>
</body>
</html>